.home {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #fcefd3; 
  }
  
  .navbar {
    display: flex;
    position: fixed;
    width: 90%;
    
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffb4;
    backdrop-filter: blur(10px);
    padding: 20px 40px; 
    border-radius: 20px;
    z-index: 1000;
  }
  
  .navbar-section {
    flex: 1;
  }
  
.image-container img {
    width: auto;
    height: 50px;
}
  
  .search-container {
    display: flex;
    justify-content: center;
  }
  
  .search-bar {
    width: 100%;
    height: 1.4rem;
    max-width: 300px;
    padding: 5px; 
    border: 3px solid #fff;
    border-radius: 13px;
    background-color: #2e281e; 
    color: #fff; 
    text-align: center;
  }

  